@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Monoton');

body{
    background-color: #264653;
    color: #2A9D8F;
    color: #264653;
    color: #E9C46A;
    color: #F4A261;
    color: #E76F51;
    color: black;

}

#header{
    margin: 0.25%;
    margin-bottom: 0.5%;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 0.3%;
    padding-left: 2%;
    background-color: #E9C46A;
}
.input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.profile_img{
    border-radius: 50%;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.profile_img:hover{
    transform: scale(1.1);
}
.buttons{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;

    margin-right: 70%;
    margin-left: 0.5%;
}
.buttons:hover{
    transform: scale(1.1);
}
.right_header{
    margin-left: 90%;
}


.container_body {
    justify-content: center;
}

.left-grid,
.right-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px; /* Adjust the gap between boxes as needed */

    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
    padding:2%;
    background-color: #2A9D8F;
    margin: 2%;
}
#left_grid{
    flex: 0.80;
    margin-right: 10%;
    margin-left: 10%;
}
#right_grid{
    flex: 0.20;
    margin-right: 20%;
    margin-left: 30%;
}
.box {
    background-color: #F4A261;
    padding: 20px;
    position: relative;
}
.profile_post{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
    z-index: 1;
}
.name_post{
    font-size: xx-large;
    font-weight: bold;
    font-family: Broadway, serif;
    text-shadow: 0 0 5px white;
    z-index: 1;
}
.img_fullscreen {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #E76F51;
    border-radius: 5px;
}

.recom_name{
    position: absolute;
    top:30%;
    left:20%
}
.recom_button{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;


    position: absolute;
    top:20%;
    right:5%;
}
.recom_button:hover{
    transform: scale(1.2);
}

.profile_header {
    position: relative;
    margin: 2%;

}

.profile_banner_wrapper {
    width: 100%;
    box-shadow: 0 0 1px black,0 0 2px grey;
    border: solid #E76F51 3px;
}

.profile_banner {
    width: 100%;
}

.profile_content_wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;

    background-color: rgba(42, 157, 143, 0.7);
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 5%;
    box-shadow: 0 0 10px black,0 0 10px grey;
    font-family: "Lucida Fax", ui-monospace;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #E9C46A;
}

.profile_follow{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.profile_follow:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.profile_follow:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.profile_follow:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.profile_post_wrapper{
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.profile_post_container{
    background-color: #E9C46A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black,0 0 10px grey;
    border: solid #F4A261 4px;

    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.profile_post_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_post_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Book Antiqua", ui-serif;

    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.profile_post_container:hover .profile_post_text {
    opacity: 1;
}
.setting_form_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.setting_form_content{
    display: flex;
    flex-direction: column;
    background-color: #2A9D8F;
    margin: 2%;
    padding: 2%;

    box-shadow: 4px 2px 10px darkslategrey;
}
.setting_text{

}


.setting_form_container_a{
    background-color: #E9C46A;
    margin: 2%;
    padding: 2%;
    grid-gap: 5%; /* Adjust the gap between boxes as needed */

    box-shadow: 4px 2px 10px black;
}
.center{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #F4A261;
    margin: 2% auto;
    padding: 2%;
    grid-gap: 5%; /* Adjust the gap between boxes as needed */

    box-shadow: 4px 2px 10px black;
}
#setting_profile{
    width: 15%;
    padding: 0;
    box-shadow: 4px 2px 10px black,2px 4px 10px black;
}

.center_b{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #E76F51;
    margin: 2% auto;
    padding: 2%;
}
#setting_text{

}

.fancy {

    font-family: "Monoton", Helvetica, sans-serif;
    margin: 2% auto;

    letter-spacing: 5px;
    font-size: 13vw ;
    text-transform: uppercase;

    color: transparent;
    background: linear-gradient(7deg, #F5EE9E 50%, #AB3428 0);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.25px black;

}


:root {
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e83611;
    --color-5: #f9002f;
}



.multi_color {
    font-family: "Exo", sans-serif;
    font-weight: 900;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg,
    var(--color-1) 19%,
    transparent 19%, transparent 20%,
    var(--color-2) 20%, var(--color-2) 39%,
    transparent 39%, transparent 40%,
    var(--color-3) 40%, var(--color-3) 59%,
    transparent 59%, transparent 60%,
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%,
    var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .25s linear;
}

.multi_color:hover{
    transform: scale(1.2);
    letter-spacing: 20px;
    cursor: pointer;
}


.container {
    padding: 1.5rem;
    text-align: center;
}



@media screen and (min-width: 768px) {
    h1 {
        font-size: 6.5rem;
    }
}



.butter{
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 13rem;
    position: absolute;
    top: 15%;
    left:50%;
    transform: translate(-50%,-50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #F9f1cc;
    text-shadow: 5px 5px 0px #FFB650,
    10px 10px 0px #FFD662,
    15px 15px 0px  #FF80BF,
    20px 20px 0px #EF5097,
    25px 25px 0px #6868AC,
    30px 30px 0px #90B1E0;
}

.sign_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign_in input {
    width: 80%; /* Adjust this value as needed */
    margin: 2% auto; /* Centers the element */
}
.sign_in button{
    width: 40%; /* Adjust this value as needed */
    margin: 2% auto; /* Centers the element */
}
.sign_in h2{
    margin: 2% auto; /* Centers the element */
}
.sing_in_wrapper{
    margin: 20%;
    background-color: #E9C46A;
    padding: 4%;
}

.create_wrapper{
     margin: 10%;
}

.check{
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 5px grey;
    padding: 9px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}
.check:hover{
    box-shadow: 0 1px 5px grey,1px 1px 3px darkslategrey;
    transform: translateY(-2px);
}
.check:checked{
    box-shadow: 0px 0px ;
    font-size: 14px;
    color: #99a1a7;
    transform: translateY(+2px);
}

@keyframes gradient {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}

.style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 2% auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
}
.style-input:after {
         content: "";
         position: absolute;
         left: 0px;
         right: 0px;
         bottom: 0px;
         z-index: 999;
         height: 2px;
         border-bottom-left-radius: 2px;
         border-bottom-right-radius: 2px;
         background-position: 0% 0%;
         background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
         background-size: 500% auto;
         animation: gradient 3s linear infinite;
}

.style-input input {
    border-style: none; background: transparent; outline: none;
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}
style-input input::-webkit-input-placeholder {
     color:  #7881A1;
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue),90%,95%);
    --fg: hsl(var(--hue),90%,5%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
.ip {
    padding: 1.5em 0;
    width: 16em;
    height: 8em;
}
.ip__track {
    stroke: hsl(var(--hue),90%,90%);
    transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
    animation: worm1 2s linear infinite;
}
.ip__worm2 {
    animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue),90%,5%);
        --fg: hsl(var(--hue),90%,95%);
    }
    .ip__track {
        stroke: hsl(var(--hue),90%,15%);
    }
}

/* Animation */
@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }
    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }
    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -358;
    }
}